<div class="is-fullwidth title p-3 is-flex is-align-items-center has-background-black has-text-light">
  <div class="icon mr-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="currentColor">
      <path d="M12 2L2 7v7c0 5.25 4 9.75 10 11 6-1.25 10-5.75 10-11V7l-10-5zm-1 13h-2v-6h2v6zm4 0h-2v-6h2v6z"></path>
    </svg>
  </div>
  <div class="ml-4">
    WebCome Home
  </div>
</div>
