<!-- footer.hbs -->
<footer class="footer has-background-dark has-text-light">
  <div class="content has-text-centered">
    <p>Thank you for visiting WebCome Home!</p>
    <p>If you have any questions or feedback, feel free to reach out to me at:</p>
    <p>
      <a href="mailto:liballoisinl@gmail.com" class="has-text-light">liballoisinl@gmail.com</a>
    </p>
  </div>
</footer>
