<div id="presence-container" class="box has-background-grey-lighter">
    <h3 class="title is-4 has-text-centered">Who's Phone is Home?</h3>

    <div class="is-flex is-justify-content-center is-align-items-center">
        <div class="mr-6">
            <span class="has-text-weight-bold">Mam:</span>
            {{#each presenceData}}
                {{#if (eq name "Mam's Phone")}}
                    <span class="ml-2 tag is-rounded {{#if present}}is-success{{else}}is-danger{{/if}}" 
                          style="width: 12px; height: 12px; display: inline-block; border-radius: 50%;"></span>
                {{/if}}
            {{/each}}
        </div>

        <div class="mr-6">
            <span class="has-text-weight-bold">Dad:</span>
            {{#each presenceData}}
                {{#if (eq name "Dad's Phone")}}
                    <span class="ml-2 tag is-rounded {{#if present}}is-success{{else}}is-danger{{/if}}" 
                          style="width: 12px; height: 12px; display: inline-block; border-radius: 50%;"></span>
                {{/if}}
            {{/each}}
        </div>

        <div class="mr-6">
            <span class="has-text-weight-bold">Cian:</span>
            {{#each presenceData}}
                {{#if (eq name "Cian's Phone")}}
                    <span class="ml-2 tag is-rounded {{#if present}}is-success{{else}}is-danger{{/if}}" 
                          style="width: 12px; height: 12px; display: inline-block; border-radius: 50%;"></span>
                {{/if}}
            {{/each}}
        </div>

        <div>
            <span class="has-text-weight-bold">Oisín:</span>
            {{#each presenceData}}
                {{#if (eq name "My Phone")}}
                    <span class="ml-2 tag is-rounded {{#if present}}is-success{{else}}is-danger{{/if}}" 
                          style="width: 12px; height: 12px; display: inline-block; border-radius: 50%;"></span>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
